<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem" routerLink="pagina1" [routerLinkActive]="'active'">Pagina 1</mat-list-item>
      <mat-list-item role="listitem" routerLink="pagina2" [routerLinkActive]="'active'">Mappa</mat-list-item>
      <mat-list-item role="listitem" routerLink="pagina3" [routerLinkActive]="'active'">Pagina 3</mat-list-item>
    </mat-list>

  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar class="toolbar">
      <span>My App</span>
      <span class="example-spacer"></span>
      <button routerLink="login" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <mat-icon>face</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <button mat-button (click)="sidenav.toggle()">
      <span class="btn-text">Filtri</span>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>